<!DOCTYPE html>
<html>
    <head>
        <title>Tower of Hanoi</title>
        {% if running %}
        <meta http-equiv="refresh" content="0.1">
        {% endif %}
        <style>
         body { font-family: serif; }
         .peg { display: inline-block; width: 120px; vertical-align: top; }
         .disk { border: 1px solid black; margin: 2px; text-align: center; }
        </style>
    </head>
    <body>

        <h1>Tower of Hanoi</h1>

        {% if message %}
        <p><strong>{{ message }}</strong></p>
        {% endif %}

        {% if won %}
        <p><strong>You have solved the puzzle.</strong></p>
        {% endif %}

        <div>
            {% for peg, disks in pegs.items %}
            <div class="peg">
                <strong>Peg {{ peg }}</strong>

                {% for disk in disks reversed %}
                <div class="disk">
                    Disk {{ disk }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <p>
            <a href="{% url 'reset' %}">Reset</a>
        </p>

        <p>
            Automatic solution using a Python generator.
        </p>

    </body>
</html>
